# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp
*.swo

# Ignore Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Ignore Python egg and build files
*.egg-info/
dist/
build/